ALVR Client
BraveSoftware
Electron
QtProject.conf
REAPER
Subtitle Edit
Valve
alvr
autostart
bottom
cabal
cef_user_data
clerk
configstore
containers
coralproxy
dconf
discord
efm-langserver
environment.d
fontconfig
ghc
glib-2.0
go
google-chrome
gtk-3.0
gtk-4.0
jellyfin
lunarclient
menus
mimeapps.list
openvr
ow-electron
pavucontrol.ini
procps
pulse
shell_commands
systemd
transmission
unity3d
vesktop
via-nativia
vlc
